@CHARSET "UTF-8";
.none {display:none;}
.tq > div {float:left; height:65px;}
.tq .weather {margin-left:20px; padding-top:10px; position:relative;}
.tq .weather .swith_area {
	float:left;
	background-color:#f6f6f6;
	border:0px solid #000;
	height:60px;
	width:auto;
	font-family:Verdana, Geneva, sans-serif;
	position:absolute;
	padding-left:10px;
	text-align:left;
}
.swith_area .area_name {
	font-size:14px;
	font-weight:bold;
	line-height:25px;
	
}
.swith_area p {
	text-align:left;
	padding-bottom:4px;
}
.swith_area select {
	margin-left:0;
	margin-right:6px;
	height:22px;
	border:1px solid #f5db86;
	width:85px;
}
.swith_area input[type='button'] {
	margin-right:4px;
	background-color:#f6f6f6;
	border:1px solid #f5db86;
}
.tq .lunar {margin-left:18px; width:125px; border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9; position:relative;}
.tq .lunar .Calendar {positoin:absolute; z-index:30;}
.tq .lunar ul {margin-top:10px; color:#656364;}
.btn_zc a {color:#FFA625;}
.btn_dl a {color:#369AF1;}
.lanse a:link,.hhz a:link {color:#0099FF}
.lanse a:visited,.hhz a:visited {color:#0099FF}
.list span {background-repeat:no-repeat;background-position:center;float:left;width:120px;display:inline;margin-left:10px;}
.list ul {border-left:1px solid #8f8f8f; min-height:60px;}
.list ul li { width:90px; line-height:30px; font-size:14px;}
.foot{background-color:#e8e8e8;float:left;width:100%;line-height:60px;height:60px;font-family:"微软雅黑";font-size:12px;margin-top:15px;}
.foot_1{background-color:#e8e8e8;float:left;width:100%;line-height:60px;height:60px;font-family:"微软雅黑";font-size:12px;margin-top:15px;}
.stayHere {
    display: block;
    position: fixed;
    top: 0;
	left: 0;
	z-index:90;
}
/****alert**/
.fade {
    opacity: 0;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: opacity;
    transition-timing-function: linear;
}

.fade.in {
    opacity: 1;
}
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #8bc5e8;
  border: 1px solid #7ed0e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #1c628b;
  height:24px;
  line-height:24px;
}
.alert-heading {
  color: inherit;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}
.alert-success {
  background-color: #ccddbb;
  border-color: #c6d4aa;
  color: #669533;
}
.alert-danger,
.alert-error {
  background-color: #eddbe3;
  border-color: #e8d1df;
  color: #bd4247;
}
.alert-info {
  background-color: #edebe1;
  border-color: #e0d9cb;
  color: #817b58;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.top {*+margin-top:52px;}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}
.list .show_all {
	width:740px;
	background-color:#fff;
	z-index:60;
	border-bottom:1px dotted #8f8f8f;
}

.security_tips {
	position:relative;
}
.security_tips .tips_span {
	position:absolute;
	left:0;
	top:20px;
	border:1px solid #eab591;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:6px;
	background-color:#fff;
	line-height:26px;
	z-index:20;
}
.security_tips .tips_span i {
	float:right;
	margin-top:-8px;
	margin-right:0px;
	cursor:pointer;
}
.birthSelect {
	position:relative;
}
.birthSelect ul {
	display:none;
	position:absolute;
	background-color:#fff;
	border:1px solid #decab1;
	padding:2px;
	width:320px;
	top:24;
	left:0;
}
.birthSelect ul li {
	float:left;
	display:inline;
	cursor:pointer;
	width:40px;
	height:24px;
}