@CHARSET "UTF-8";
.none {display:none;}
.tq > div {float:left; height:65px;}
.tq .weather {margin-left:20px; padding-top:10px; position:relative;}
.tq .weather .swith_area {
	float:left;
	/*background-color:#fff;*/
	border:0px solid #000;
	height:55px;
	width:auto;
	font-family:Verdana, Geneva, sans-serif;
	padding-left:10px;
	text-align:left;

}
.tq .weather .show_weather {
	float:left;
	/*margin-left:120px;*/
}
.weather .wt {float:left;}
.weather .wt .wtpic {float:left;}
.weather .wt .wt1 {float:left;padding-top:10px;}
.swith_area .area_name {
	font-size:14px;
	font-weight:bold;
	line-height:25px;
	
}
.swith_area p {
	text-align:left;
	padding-bottom:4px;
}
.swith_area select {
	margin-left:0;
	margin-right:6px;
	height:22px;
	border:1px solid #f5db86;
	width:85px;
}
.swith_area input[type='button'] {
	margin-right:4px;
	background-color:#f6f6f6;
	border:1px solid #f5db86;
}
.tq .lunar {margin-left:18px; width:125px; position:relative;}
.Calendar {positoin:absolute;z-index:99999999}
.Calendar table {background-color:#fff;}
.tq .lunar ul {margin:10px auto; text-align:center; color:#656364;}
.btn_zc a {color:#FFA625;}
.btn_dl a {color:#369AF1;}
.lanse a:link,.hhz a:link {color:#0099FF}
.lanse a:visited,.hhz a:visited {color:#0099FF}
.list span {background-repeat:no-repeat;background-position:center;float:left;display:inline;margin-left:10px;}
/*.list ul {border-left:1px solid #8f8f8f; min-height:60px;}*/
.list li { width:90px; line-height:30px; font-size:14px;}
.foot{background-color:#e8e8e8;float:left;width:100%;line-height:60px;height:60px;font-family:"微软雅黑";font-size:12px;margin-top:15px;}
.foot_1{background-color:#e8e8e8;float:left;width:100%;line-height:60px;height:60px;font-family:"微软雅黑";font-size:12px;margin-top:15px;}
.stayHere {
    display: block;
    position: fixed;
    top: 0;
	left: 0;
	z-index:90;
}
/****alert**/
.fade {
    opacity: 0;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: opacity;
    transition-timing-function: linear;
}

.fade.in {
    opacity: 1;
}
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #8bc5e8;
  border: 1px solid #7ed0e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #1c628b;
  height:24px;
  line-height:24px;
}
.alert-heading {
  color: inherit;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}
.alert-success {
  background-color: #ccddbb;
  border-color: #c6d4aa;
  color: #669533;
}
.alert-danger,
.alert-error {
  background-color: #eddbe3;
  border-color: #e8d1df;
  color: #bd4247;
}
.alert-info {
  background-color: #edebe1;
  border-color: #e0d9cb;
  color: #817b58;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.top {*+margin-top:52px;}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}
.menu>li {
	position:relative;
}
.list .show_all {
	/*width:740px;
	background-color:#fff;
	z-index:60;
	border-bottom:1px dotted #8f8f8f;*/
	border: 1px solid #F00;
	position: absolute;
	height: 500px;
	width: 745px;
	background-color: #FFF;
	z-index: 99;
	left: 150px;
	top: -149px;
}
.list .show_all li {
	float:left;
}
.menu_k li {
	float:left;
	width:90px;
	padding:4px;
	font-size:14px;
}
.menu_k li span {float:left;display: inline;}
.security_tips {
	position:relative;
}
.security_tips .tips_span {
	position:absolute;
	left:0;
	top:20px;
	border:1px solid #eab591;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:6px;
	background-color:#fff;
	line-height:26px;
	z-index:20;
}
.security_tips .tips_span i {
	float:right;
	margin-top:-8px;
	margin-right:0px;
	cursor:pointer;
}
.birthSelect {
	position:relative;
}
.birthSelect ul {
	display:none;
	position:absolute;
	background-color:#fff;
	border:1px solid #decab1;
	padding:2px;
	width:320px;
	top:24;
	left:0;
}
.birthSelect ul li {
	float:left;
	display:inline;
	cursor:pointer;
	width:40px;
	height:24px;
}

.Menubox1 ul li.hover {
    background-color: #FF8A21;
    color: #FFFFFF;
}
#dsearch_in2{height:15px;width:160px;border:1px solid #CCC;color:#999;line-height:15px;font-size:12px;}
#userTool {
	width: auto;
	height: 33px;
	position: relative;
	text-align: center;
	border-right-width: 1px;
	border-left-width: 1px;
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 20px;
	padding-left: 5px;
}
.none-border {

}
.forgetStyle {
	color:#000;
	display:block;
	width:50px;
	float:left;
	margin-left:5px;
	*margin-top:2px;
	margin-top:2px\9;
}
.header_bg .header h2 {
	width:auto;
}
.wrap {
	margin-top:33px;
}
.search_input #search_in {
	margin-top:2px;
}
.menu_k_all {
    float: left;
    height: auto;
    width: 690px;
}
.menu_k_all .l1 {
    border-bottom: 1px dotted #CCCCCC;
    float: left;
    width: 690px;
}

.menu_k_all .l1 .l2 {
    color: #CCCCCC;
    float: left;
    height: auto;
    text-align: left;
    width: 690px;
}
.menu .line {
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.menu_k .menu_k_u li {
	/*width:auto;*/
}
.bg_default {background-image:url(/images/FrontEnd/bg_l.png);}
.bg_a {background-image:url(/images/FrontEnd/hf_02.jpg);}
.bg_1 {background-image:url(/images/FrontEnd/1.jpg);background-position: center top;
    background-repeat: no-repeat;}
.bg_2 {background-image:url(/images/FrontEnd/2.jpg);background-position: center top;
    background-repeat: no-repeat;}
.bg_3 {background-image:url(/images/FrontEnd/3.jpg);background-position: center top;
    background-repeat: no-repeat;}
.bg_4 {background-image:url(/images/FrontEnd/1.jpg);background-position: center top;
    background-repeat: no-repeat;}
.bg_5 {background-image:url(/images/FrontEnd/2.jpg);background-position: center top;
    background-repeat: no-repeat;}
.bg_6 {background-image:url(/images/FrontEnd/3.jpg);background-position: center top;
    background-repeat: no-repeat;}
.bg_7 {background-image:url(/images/FrontEnd/1.jpg);background-position: center top;
    background-repeat: no-repeat;}
#disk_login {
	float:left;width:166px;border:1px solid #666;margin-left:19px;background-color:#FFF;position:absolute;z-index:999;left:-1px;top:0px;
}
#dsearch_in3 {font-size:12px; color:#999;width: 160px;}
#disk_url {border: 1px solid #CCCCCC;
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    height: 22px;
    width: 164px;
    margin-top:6px;
}
.menu_k {
	height:450px;
	width:805px;
	padding-top:6px;
}
.menu_k .menu_k_left {height:350px;}
.menu_k .l1,.menu_k .l1 h1,.menu_k .menu_k_left,
.menu_k .l1 .l2 {width:385px;}
.menu_k .menu_k_right {width:385px;}
.menu_k .l1 {/*border-bottom:none;*/}
.menu_k .l1 .l2 {/*border-bottom:1px solid #ccc;*/}
.menu_k .l1 .l2 a {min-width:30px;display:inline-table}
.search_input #search_in {color:#000;}
.header_bg .header .lgoin .dldt01,.header_bg .header .lgoin .dldt02 {background-image:none;}
.huaf .hh .wk .hf_c {overflow:hidden; height:130px;position:relative;width:750px;}
.huaf .hh .wk .hf_c .items {width:20000em;position:absolute;clear: both;}
.huaf .hh .wk .items .hft p {height: 25px;line-height: 25px;}
.skin_lists {width:986px;height:auto;}
.change_skin_left {float:left;width:210px; height:130px;position:relative;}
.huaf .hh .wk .div_lf{position:absolute;left:2px;top:35px;height:130px;width:29px;}
.huaf .hh .wk .add_default_style img{height:88px;width:132px;border:1px solid #CCC;padding:1px;}
.add_default_style {margin-top:5px;margin-left:50px;}
.change_skin_left .prev span {position:absolute;left:115px;top:12px;width:30px;display:block;}

.huaf .hh .wk  .hft img {
    border: 1px solid #CCCCCC;
    height: 88px;
    padding: 1px;
    width: 132px;
	cursor:pointer;
}
.search_input #search_in {margin-left:2px;}
.hf_n li {cursor:pointer;}