/*通用*/body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}
input,button{margin:0;font-size:12px;vertical-align:middle;}
body{font-size:12px;font-family:Arial, Helvetica, sans-serif;text-align:center;margin:0 auto;}
a{color:#999;text-decoration:none;}
a:hover{text-decoration:none;color:#c00;}
em,i{font-style:normal;}
b{font-weight:normal;}
h1,h2,h3,h4{font-size:14px;}
h5{font-size:12px;}
h6{font-size:12px;font-weight:normal;}
img{border:0}
html{height:100%;}
body{min-height:100%;_height:100%;position:relative;background-color:#F6F6F6;}
.reg_warp{height:auto;width:905px;font-family:"微软雅黑";margin-top:52px;margin-right:auto;margin-bottom:0;margin-left:auto;}
.header_bg{width:100%;float:left;background-image:url(../../images/FrontEnd/top_bg.jpg);height:52px;}
.header_bg .header{height:auto;width:880px;margin:0 auto;font-family:"微软雅黑";font-size:14px;font-weight:bold;}
.header_bg .header h1{float:left;width:85px;line-height:52px;height:52px;color:#999;text-align:left;}
.header_bg .header h2{float:left;height:52px;width:50px;line-height:52px;color:#999;}
.header_bg .header h3{color:#64ACEE;float:left;width:65px;line-height:52px;height:52px;}
.header_bg .header h4{color:#64ACEE;float:right;line-height:52px;height:52px;width:260px;padding-left:25px;text-align:right;}
.header_bg .header h4 a{padding-right:10px;padding-left:10px;color:#64ACEE;}
.top{float:left;height:76px;width:905px;padding-top:15px;padding-bottom:20px;}
.top .logo{float:left;height:76px;width:117px;}
.reg_warp .logo_txt{float:left;width:100px;font-family:"微软雅黑";font-size:14px;font-weight:bold;margin-left:20px;margin-top:50px;display:inline;text-align:left;}
.reg_warp .liuc{float:left;height:39px;width:905px;margin-top:10px;}
/*input*/.input_test{width:336px;list-style-type:none;margin-top:20px;float:left;height:auto;display:inline;margin-left:30px;}
.input_on{height:36px;background-image:url(../../images/FrontEnd/reg_on.jpg);width:235px;border:0;background-repeat:no-repeat;float:left;}
.input_off{height:36px;background-image:url(../../images/FrontEnd/reg_bg.jpg);float:left;width:235px;border:0;background-repeat:no-repeat;}
.input_move{height:36px;background-image:url(../../images/FrontEnd/reg_on.jpg);float:left;width:235px;border:0;background-repeat:no-repeat;}
.input_out{height:36px;background-image:url(../../images/FrontEnd/reg_bg.jpg);border:0;float:left;width:235px;background-repeat:no-repeat;}
.input_on1{height:36px;background-image:url(../../images/FrontEnd/reg_mail_bg.jpg);width:117px;border:0;background-repeat:no-repeat;float:left;}
.input_off1{height:36px;background-image:url(../../images/FrontEnd/reg_mail.jpg);float:left;width:117px;border:0;background-repeat:no-repeat;}
.input_move1{height:36px;background-image:url(../../images/FrontEnd/reg_mail_bg.jpg);float:left;width:117px;border:0;background-repeat:no-repeat;}
.input_out1{height:36px;background-image:url(../../images/FrontEnd/reg_mail.jpg);border:0;float:left;width:117px;background-repeat:no-repeat;}
#in_name1,#in_name2,#in_name3,#in_name4,#in_name5,#in_name6{border:0;width:225px;line-height:36px;padding-left:10px;font-family:"微软雅黑";font-size:14px;font-weight:bold;color:#CCC;}
#in_email,#in_email2{border:0;width:117px;line-height:36px;padding-left:10px;font-family:"微软雅黑";font-size:14px;font-weight:bold;color:#CCC;}
/*form*/ul.input_test{width:570px;list-style-type:none;margin-top:25px;float:left;height:auto;display:inline;margin-left:20px;}
ul.input_test li{width:570px;height:auto;float:left;margin-top:10px;display:inline;text-align:left;font-family:"微软雅黑";font-size:14px;background-color:#F6F6F6;}
ul.input_test1 li{width:570px;height:auto;float:left;margin-top:10px;display:inline;text-align:left;font-family:"微软雅黑";font-size:14px;background-color:#FFF;}
/*input*/.input_test1{width:600px;list-style-type:none;margin-top:20px;float:left;height:auto;display:inline;margin-left:30px;padding-left:150px;}
.input_test1 .suoj{padding-left:130px;}
.input_test1 .btn{padding-left:130px;width:200px;}
.input_test1 p{float:left;background-color:#F6F6F6;}
.input_test1 span{float:left;text-align:left;color:#999;height:32px;display:inline;margin-left:5px;width:auto;margin-top:2px;}
.input_test1 label{float:left;width:130px;line-height:30px;text-align:right;font-size:14px;color:#666;font-family:"微软雅黑";font-weight:bold;}
.input_test1 span p{margin-left:0px;width:300px;float:left;line-height:28px;display:inline;}
.input_test1 li h1{float:left;width:150px;color:#666;line-height:30px;padding-left:10px;}
.input_test1 li h1 a{float:left;width:150px;color:#00F;}
.input_test1 li h2{float:left;height:auto;width:100px;text-align:left;color:#FF9202;line-height:30px;}
.input_test .btn{padding-left:63px;width:200px;}
.input_test p{float:left;background-color:#F6F6F6;}
.input_test span{float:left;text-align:left;color:#999;height:32px;display:inline;margin-left:5px;width:auto;margin-top:2px;}
.input_test label{float:left;width:70px;line-height:30px;text-align:right;font-size:14px;color:#666;font-family:"微软雅黑";font-weight:bold;}
.input_test span p{margin-left:0px;width:300px;float:left;line-height:28px;display:inline;}
.input_test li h1{float:left;width:220px;color:#666;line-height:30px;padding-left:10px;}
.input_test li h1 a{float:left;width:100px;color:#00F;}
.input_test li h2{float:left;height:auto;width:100px;text-align:left;color:#09C;padding-left:40px;}
.input_test li h2 a{float:right;height:auto;width:100px;text-align:right;color:#09C;}
.reg_warp .reg_r{float:right;height:220px;width:300px;border:1px solid #CCC;background-color:#FFF;font-family:"微软雅黑";font-size:14px;font-weight:bold;color:#999;margin-top:40px;padding-top:25px;}
.reg_warp .reg_r .sj_txt{line-height:40px;}
.reg_warp .reg_r .sj_txt .cstxt{color:#FF7200;font-size:30px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;}
.reg_warp .Land_bg{float:left;height:auto;width:700px;text-align:left;font-size:14px;padding-top:20px;}
.reg_warp .Land_bg p{float:left;width:680px;padding-left:20px;line-height:30px;}
.reg_warp .Land_bg p .lanse{color:#09F;}
.reg_warp .Land_bg p .cheng{color:#F60;}
.reg_warp .Land_bg .kk{float:left;height:130px;width:610px;border:1px solid #666;background-color:#FFF;text-align:left;padding-right:20px;padding-left:20px;line-height:25px;margin-top:20px;}
.reg_warp .Land_bg .hhz{float:left;width:175px;color:#09F;font-weight:normal;}
.reg_warp .Land_bg .kk h1{font-family:"微软雅黑";font-size:16px;line-height:30px;}
.reg_warp .Land_bg .kk h2{width:175px;float:left;border-right-width:1px;border-right-style:solid;border-right-color:#CCC;padding-right:10px;padding-left:10px;margin-top:10px;color:#333;font-weight:normal;}
.reg_warp .Land_bg .kk h3{float:left;width:175px;padding-right:10px;padding-left:10px;border-right-width:1px;border-right-style:solid;border-right-color:#CCC;margin-top:10px;font-weight:normal;}
.reg_warp .Land_bg .kk h4{float:left;width:175px;padding-right:10px;padding-left:10px;margin-top:10px;font-weight:normal;}
.reg_warp .Land_bg p .dd_yse{float:left;padding-right:10px;padding-left:10px;width:35px;}
.foot{background-color:#e8e8e8;float:left;width:100%;line-height:60px;height:60px;font-family:"微软雅黑";font-size:12px;margin-top:15px;position:absolute;bottom:0;}
.pas_warp{height:auto;width:905px;font-family:"微软雅黑";margin-top:0;margin-right:auto;margin-bottom:0;margin-left:auto;}
.pas_warp .con{float:left;height:auto;width:705px;padding-left:200px;}
.pas_warp .weiz{float:left;width:905px;text-align:left;font-family:"微软雅黑";font-size:16px;font-weight:bold;line-height:40px;}
.fg{float:left;height:auto;width:100%;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCC;}
.pas_warp .liuc{float:left;height:86px;width:905px;margin-top:10px;}
.pas_warp .logo_txt{float:left;width:100px;font-family:"微软雅黑";font-size:14px;font-weight:bold;margin-left:20px;margin-top:50px;display:inline;text-align:left;}
.pas_warp .pas_con{float:left;height:auto;width:840px;border:1px solid #CCC;margin-top:12px;margin-left:10px;display:inline;padding:20px;color:#666;background-color:#FFF;}
.pas_warp .pas_con .mai_yz{float:left;width:840px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#333;text-align:left;line-height:30px;font-size:14px;font-weight:bold;}
.pas_warp .pas_con .mai_yz .yxb{float:left;width:40px;}
.pas_warp .pas_con .mai_yz .cheng{color:#F60;}
.pas_warp .pas_con .mai_yz2{float:left;width:840px;border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color:#CCC;text-align:left;line-height:55px;font-size:14px;font-weight:bold;margin-top:10px;padding-bottom:10px;}
.pas_warp .pas_con .mai_yz2 .yxb{float:left;width:90px;padding-left:35px;}
.pas_warp .pas_con .mai_yz2 .cheng{color:#F60;}
.pas_warp .pas_con .mai_yz3{text-align:left;float:left;width:640px;padding-left:130px;padding-top:10px;}
.pas_warp .pas_con .mai_yz3 p{line-height:30px;font-size:14px;font-weight:bold;float:left;width:600px;}
.pas_warp .pas_con .mai_yz3 .yztext1{font-size:16px;color:#333;font-weight:bold;}
.pas_warp .pas_con .mai_yz3 p .yszt{background-color:#CCC;color:#FFF;}
.pas_warp .pas_con .mai_yz3 p .yztext2{color:#06C;}
.pas_warp .pas_con .mai_yz3 p .yztext2 a{color:#06C;}
.pas_warp .weiz_1{float:left;width:905px;text-align:left;font-family:"微软雅黑";font-size:16px;font-weight:bold;line-height:60px;}
.pas_warp .weiz_1 .cheng{color:#F60;}
.pas_warp .con_1{background-color:#FFF;float:left;height:110px;width:680px;border:1px solid #CCC;text-align:left;line-height:110px;font-size:18px;font-weight:bold;color:#333;}
.pas_warp .con_1 .tit{float:left;width:120px;}
.pas_warp .con_1 .c_1 img{float:left;padding-top:35px;padding-left:30px;padding-right:10px;}
.pas_warp .con_1 .c_3{float:right;padding-top:30px;margin-right:10px;}
.pas_warp .con_1 .c_2 img{padding-left:10px;padding-right:10px;padding-top:45px;float:left;}
.pas_warp .con_2{background-color:#FFF;float:left;height:110px;width:680px;border:1px solid #CCC;text-align:left;font-size:18px;font-weight:bold;color:#333;margin-top:10px;}
.pas_warp .con_2 .tit{float:left;width:300px;padding-left:10px;padding-top:30px;}
.pas_warp .con_2 .tit .tit12{font-size:12px;font-weight:bold;color:#666;}
.pas_warp .con_2 .tit p{width:300px;float:left;font-size:12px;}
.pas_warp .con_2 .c_1 img{float:left;padding-top:25px;padding-left:40px;padding-right:10px;}
.pas_warp .con_2 .c_3{float:right;padding-top:30px;margin-right:10px;}
.cg{height:110px;width:100%;border-top-width:1px;border-bottom-width:1px;border-top-style:solid;border-bottom-style:solid;border-top-color:#CCC;border-bottom-color:#CCC;background-color:#eaffd5;float:left;margin-top:20px;}
.cg .pas_warp .cg_1{float:left;width:500px;line-height:48px;font-size:18px;font-weight:bold;color:#333;margin-top:30px;margin-left:30px;text-align:left;}
.cg .pas_warp .cg_1 .cgimg img{float:left;}
.fanh{background-color:#FFF;float:left;height:40px;width:100%;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCC;}
.fanh .pas_warp .fanh_t{float:left;line-height:40px;color:#06C;font-size:16px;font-weight:bold;padding-left:100px;}
.fanh .pas_warp .fanh_t a{color:#09C;}
.foot_1{background-color:#e8e8e8;float:left;width:100%;line-height:60px;height:60px;font-family:"微软雅黑";font-size:12px;margin-top:15px;}
#reg_nextbtn{background-image:url(/images/FrontEnd/next.jpg);height:42px;width:129px;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;color:#FFF;font-family:"微软雅黑";font-size:18px;font-weight:bold;}
#reg_zhbtn,#reg_zhbtn1,#reg_tjbtn{background-image:url(/images/FrontEnd/btn_lk.jpg);height:42px;width:129px;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;color:#FFF;font-family:"微软雅黑";font-size:18px;font-weight:bold;float:right;}
#reg_ywsbtn{background-image:url(/images/FrontEnd/next.jpg);height:42px;width:129px;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;color:#FFF;font-family:"微软雅黑";font-size:18px;font-weight:bold;}
#reg_ywszcbtn{background-image:url(/images/FrontEnd/btn_01.jpg);height:40px;width:181px;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;color:#FFF;font-family:"微软雅黑";font-size:18px;font-weight:bold;}
